:root {
  --bg: #f8f8f8;
  --mainColor: #fc840d;
  --duration: .15s;
  --radius-sm: 5px;
  --radius-md: 10px;
  --radius-lg: 20px;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  font-family: 'Jost', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background: var(--bg);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 1360px) {
  .container {
    max-width: 1000px;
  }
}

section {
  padding: 30px 0;
}

.title__block {
  margin-bottom: 20px;
  text-align: center;
}

.title__block--left {
  text-align: left;
}

.title {
  font-size: 36px;
  line-height: 125%;
  font-weight: 600;
}

.subtitle {
  color: #777;
  font-size: 15px;
  font-weight: 400;
}

@media ((min-width: 1100px) and (max-width: 1360px)) {
  section {
    padding: 22.5px 0;
  }

  .title__block {
    margin-bottom: 15px;
  }

  .title {
    font-size: 27px;
  }

  .subtitle {
    font-size: 11.25px;
  }
}

@media (max-width: 800px) {
  .title__block {
    margin-bottom: 10px;
  }

  .title {
    font-size: 32px;
    line-height: 100%;
  }

  .subtitle {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  section {
    padding: 25px 0;
  }

  .title {
    font-size: 30px;
  }
}

@media (max-width: 380px) {
  .title {
    font-size: 28px;
  }

  .subtitle {
    font-size: 13px;
  }
}

/* ============================== HEADER ============================== */
/* ============================== HEADER ============================== */
/* ============================== HEADER ============================== */

.header {
  padding: 20px 0;
  box-shadow: 0 2px 20px rgba(255, 144, 16, 0.4);
  position: relative;
  z-index: 2;
  border-bottom: 2px solid var(--mainColor);
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 100;
}

.header__logo {
  width: 45px;
}

.header__title {
  color: #000;
  font-size: 22px;
  font-weight: 400;
  white-space: nowrap;
  transition: var(--duration);
}

.header__logo-wrapper:hover .header__title {
  color: var(--mainColor);
}

.header__content {
  display: flex;
  align-items: center;
  width: 100%;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
}

.header__nav a {
  font-size: 20px;
  color: #000;
  font-weight: 400;
  transition: var(--duration);
}

.header__nav a:hover {
  color: var(--mainColor);
  transform: translateY(-2px);
}

.header__social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__social-phone {
  font-size: 18px;
  color: #000;
  font-weight: 400;
  transition: var(--duration);
}

.header__social-phone:hover {
  color: var(--mainColor);
}

.header__social-tg {
  display: block;
  width: 40px;
  height: 40px;
  transition: var(--duration);
}

.header__social-tg:hover {
  transform: scale(1.1);
}

.header__social-tg:active {
  transform: scale(.95);
}

.header__social-tg img {
  width: 40px;
  height: 40px;
}

@media ((min-width: 1100px) and (max-width: 1360px)) {
  .header {
    padding: 15px 0;
    border-width: 1.5px;
  }

  .header__logo {
    width: 33px;
  }

  .header__title {
    font-size: 16.5px;
  }

  .header__nav a {
    font-size: 15px;
  }

  .header__social-phone {
    font-size: 14px;
  }

  .header__social-tg {
    width: 30px;
    height: 30px;
  }

  .header__social a img {
    width: 30px;
    height: 30px;
  }
}

/* ============================== BURGER ============================== */
/* ============================== BURGER ============================== */
/* ============================== BURGER ============================== */

.burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}

.burger span {
  width: 80%;
  transform: scale(1);
  height: 2px;
  background: #000;
}

.burger::after,
.burger::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #000;
  transition: all var(--duration) ease 0s;
}

.burger::before {
  top: 0
}

.burger::after {
  bottom: 0
}

.burger.active span {
  transform: scale(0)
}

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

body:has(.burger.active) {
  overflow: hidden;
}

@media (max-width: 900px) {
  .burger {
    display: flex;
  }

  .header__content {
    flex-direction: column;
    justify-content: start;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -10;
    padding: 60px 20px 20px;
    background-color: var(--bg);
    opacity: 0;
    visibility: hidden;
    transition: var(--duration);
  }

  .header__content.active {
    visibility: visible;
    opacity: 1;
    z-index: 50;
  }

  .header__nav {
    flex-direction: column;
    margin: auto 0;
  }

  .header__nav a {
    font-size: 24px;
  }

  .header__social-phone {
    font-size: 24px;
  }

  .header__social {
    margin-bottom: auto;
  }
}

/* ============================== HERO ============================== */
/* ============================== HERO ============================== */
/* ============================== HERO ============================== */

.hero {
  background: url(/img/hero-bg.jpg) #111111 center center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 100px 0;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 725px;
}

.hero__title {
  color: #fff;
  font-size: 48px;
  line-height: 125%;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}

.hero__separator {
  width: 100%;
  height: 1px;
  background-color: #cacaca67;
}

.hero__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.hero__list li {
  color: #fff;
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 300;
}

.hero__list li:last-child {
  font-weight: 400;
}

.hero__list li img {
  width: 16px;
  height: 16px;
}

.hero__actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero__btn {
  border-radius: var(--radius-sm);
  padding: 10px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  transition: var(--duration);
  text-transform: uppercase;
}

.hero__btn--primary {
  background-color: var(--mainColor);
  border: 2px solid var(--mainColor);
  padding: 10px 25px;
  white-space: nowrap;
  box-shadow: 0 4px 12px rgba(255, 123, 0, 0.4);
}

.hero__btn--primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(255, 123, 0, 0.6);
}

.hero__btn--primary:active {
  transform: scale(.97);
  box-shadow: none;
  background-color: #ff962d;
  border-color: #ff962d;
}

.hero__btn--secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: transparent;
  border: 2px solid var(--mainColor);
  max-width: 250px;
  width: 100%;
  position: relative;
  padding-right: 35px;
  transition: var(--duration);
}

.hero__btn--secondary svg path {
  transition: var(--duration);
}

.hero__btn--secondary:hover {
  background-color: var(--mainColor);
  box-shadow: 0 4px 12px rgba(255, 123, 0, 0.4);
}

.hero__btn--secondary:hover svg {
  transform: translate(2.5px, -2.5px);
}

.hero__btn--secondary:active {
  transform: scale(0.97);
  background-color: #ff962d;
  border-color: #ff962d;
}

.hero__btn--secondary svg {
  position: absolute;
  right: 15px;
  transition: var(--duration);
}

.hero__img {
  transform: rotateY(180deg) scale(1.25);
  width: 400px;
}

@media ((min-width: 1100px) and (max-width: 1360px)) {
  .hero {
    padding: 75px 0;
  }

  .hero__inner {
    gap: 38px;
  }

  .hero__content {
    gap: 12px;
    max-width: 580px;
  }

  .hero__title {
    font-size: 38px;
  }

  .hero__list li {
    font-size: 17px;
    gap: 4px;
  }

  .hero__list li img {
    width: 13px;
    height: 13px;
  }

  .hero__btn {
    padding: 7px;
    font-size: 13px;
    border-width: 1.5px;
  }

  .hero__btn--primary {
    padding: 7px 15px;
  }

  .hero__btn--secondary {
    max-width: 200px;
    padding-right: 30px;
  }

  .hero__btn--secondary svg {
    transform: scale(.75);
  }

  .hero__img {
    transform: rotateY(180deg) scale(1.1);
    width: 350px;
  }
}

@media (max-width: 1100px) {
  .hero {
    padding: 75px 0;
  }

  .hero__title {
    font-size: 40px;
  }

  .hero__list li {
    font-size: 20px;
  }

  .hero__btn {
    padding: 8px;
    font-size: 15px;
    font-weight: 500;
  }

  .hero__btn--primary {
    padding: 8px 16px;
  }

  .hero__btn--secondary {
    max-width: 225px;
    padding-right: 30px;
  }

  .hero__img {
    width: 350px;
    transform: rotateY(180deg) scale(1);
  }
}

@media (max-width: 900px) {
  .hero {
    padding: 50px 0;
  }

  .hero__title {
    font-size: 32px;
  }

  .hero__list li {
    font-size: 18px;
  }

  .hero__btn {
    padding: 7px;
    font-size: 14px;
  }

  .hero__btn--primary {
    padding: 7px 15px;
  }

  .hero__btn--secondary {
    max-width: 200px;
    padding-right: 30px;
  }

  .hero__btn--secondary svg {
    transform: scale(.9);
  }

  .hero__img {
    width: 300px;
  }
}

@media (max-width: 800px) {
  .hero__title {
    font-size: 40px;
  }

  .hero__list li {
    font-size: 20px;
  }

  .hero__btn {
    padding: 8px;
    font-size: 16px;
  }

  .hero__btn--primary {
    padding: 8px 16px;
  }

  .hero__btn--secondary {
    max-width: 225px;
    padding-right: 30px;
  }

  .hero__img {
    display: none;
  }
}

@media (max-width: 500px) {
  .hero {
    padding: 40px 0;
  }

  .hero__title {
    font-size: 30px;
  }

  .hero__list li {
    font-size: 16px;
  }

  .hero__actions {
    flex-direction: column;
  }

  .hero__btn {
    font-size: 14px;
    width: 100%;
  }

  .hero__btn--secondary {
    max-width: 100%;
  }
}

@media (max-width: 380px) {
  .hero {
    padding: 30px 0;
  }

  .hero__title {
    font-size: 24px;
  }
}

/* ============================== ABOUT ============================== */
/* ============================== ABOUT ============================== */
/* ============================== ABOUT ============================== */
.about {
  padding-top: 40px;
}

.about__inner {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.about__img {
  border-radius: var(--radius-lg);
  width: 35%;
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  background: #fff;
  padding: 20px;
  border-radius: var(--radius-lg);
}

.about__content p {
  font-size: 19px;
}

.about__content h3 {
  font-size: 19px;
  font-weight: 400;
}

.about__content ul {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.about__content ul li {
  font-size: 19px;
  list-style-type: decimal;
  margin-left: 22px;
}

.about__content strong {
  font-weight: 400;
  color: #ff8000;
}

.about__content blockquote {
  font-size: 19px;
  font-style: italic;
}

@media ((min-width: 1100px) and (max-width: 1360px)) {
  .about__inner {
    display: flex;
    justify-content: space-between;
    gap: 22.5px;
  }

  .about__content {
    gap: 6px;
    padding: 15px;
  }

  .about__content p {
    font-size: 14.25px;
  }

  .about__content h3 {
    font-size: 14.25px;
  }

  .about__content ul {
    gap: 2px;
  }

  .about__content ul li {
    font-size: 13.5px;
    margin-left: 17px;
  }

  .about__content blockquote {
    font-size: 14.25px;
  }
}

@media (max-width: 1100px) {
  .about__inner {
    gap: 30px;
  }

  .about__img {
    height: 100%;
  }
}

@media (max-width: 800px) {
  .about__inner {
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }

  .about__img {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .about__img {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .about__content {
    gap: 5px;
    padding: 15px;
  }

  .about__content p {
    font-size: 15px;
  }

  .about__content h3 {
    font-size: 15px;
  }

  .about__content ul li {
    font-size: 14px;
    margin-left: 17px;
  }

  .about__content blockquote {
    font-size: 15px;
  }
}

@media (max-width: 380px) {
  .about__content p {
    font-size: 14px;
  }

  .about__content h3 {
    font-size: 14px;
  }

  .about__content ul li {
    font-size: 13px;
    margin-left: 16px;
  }

  .about__content blockquote {
    font-size: 14px;
  }
}

/* ============================== SERVICES ============================== */
/* ============================== SERVICES ============================== */
/* ============================== SERVICES ============================== */

.services__table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 16px;
  overflow: hidden;
}

.services__table thead tr th {
  font-weight: 600;
  font-size: clamp(14px, 2vw, 19px);
  line-height: 137%;
  color: #fff;
  padding: clamp(2.5px, 2vw, 8px) clamp(6.5px, 4vw, 24px);
  text-align: left;
}

.services__table thead tr th:nth-child(1) {
  background: #666773;
}

.services__table thead tr th:nth-child(2) {
  background: #4d4e5c;
}

.services__table thead tr th:nth-child(3) {
  background: #333545;
}

.services__table tbody tr:last-child td:first-child {
  border-end-start-radius: 16px;
}

.services__table tbody tr:last-child td:last-child {
  border-end-end-radius: 16px;
}

.services__table tbody tr td {
  padding: clamp(6px, 1.8vw, 12px) clamp(12px, 2.5vw, 24px);
  background: #fff;
}

.services__table tbody tr td:nth-child(1) {
  font-weight: 400;
  font-size: clamp(14px, 2vw, 19px);
  line-height: 133%;
  color: #000;

  border-left: 1px solid #e6e6e8;
  border-bottom: 1px solid #e6e6e8;
}

.services__table tbody tr td:nth-child(2) {
  font-weight: 400;
  font-size: clamp(13px, 2vw, 18px);
  line-height: 137%;
  color: #4d4e5c;

  border-left: 1px solid #e6e6e8;
  border-right: 1px solid #e6e6e8;
  border-bottom: 1px solid #e6e6e8;
}

.services__table tbody tr td:nth-child(3) {
  font-weight: 500;
  font-size: clamp(14px, 2vw, 19px);
  line-height: 133%;
  text-align: center;
  color: var(--mainColor);

  border-right: 1px solid #e6e6e8;
  border-bottom: 1px solid #e6e6e8;
}

.services__flex {
  display: flex;
  flex-direction: column;
}

.services__flex small {
  font-size: clamp(12px, 2vw, 15px);
  color: #777;
}

.services__table strong {
  font-weight: 400;
}

.services__highlight td {
  background-color: #fffbea !important;
}

.services__note {
  margin-top: 20px;
  padding: 16px;
  background: #fff;
  border-left: 4px solid var(--mainColor);
  border-radius: 8px;
  font-size: 15px;
  color: #555;
}

@media ((min-width: 1100px) and (max-width: 1360px)) {
  .services__table thead tr th {
    font-size: 14.25px;
    line-height: 103%;
    padding: 6px 18px;
  }

  .services__table tbody tr td:nth-child(1) {
    font-size: 14.25px;
    line-height: 100%;
  }

  .services__table tbody tr td:nth-child(2) {
    font-size: 13.5px;
    line-height: 103%;
  }

  .services__table tbody tr td:nth-child(3) {
    font-size: 14.25px;
    line-height: 100%;
  }

  .services__flex small {
    font-size: 11.25px;
  }

  .services__note {
    margin-top: 15px;
    padding: 12px;
    border-left: 3px solid var(--mainColor);
    border-radius: 6px;
    font-size: 11.25px;
  }
}

@media (max-width: 700px) {
  .services__note {
    margin-top: 10px;
    padding: 8px;
    border-left: 3px solid var(--mainColor);
    font-size: 13px;
  }
}

/* ============================== WORKS ============================== */
/* ============================== WORKS ============================== */
/* ============================== WORKS ============================== */

.swiper {
  width: 100%;
  height: 600px;
}

.swiper-slide {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: var(--radius-md);
}

.swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  user-select: none;
  transition: .5s;
}

.swiper-slide img:hover {
  transform: scale(1.15);
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--mainColor);
}

@media ((min-width: 1100px) and (max-width: 1360px)) {
  .swiper {
    height: 450px;
  }
}

@media (max-width: 1100px) {
  .swiper {
    height: 450px;
  }
}

/* ============================== ADVANTAGES ============================== */
/* ============================== ADVANTAGES ============================== */
/* ============================== ADVANTAGES ============================== */

.advantages__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.advantages__item {
  background: #fff;
  padding: 20px;
  text-align: center;
  border-radius: var(--radius-md);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: var(--duration);
}

.advantages__item:hover {
  transform: scale(1.03) translateY(-3px);
}

.advantages__item h3 {
  font-size: 24px;
  color: var(--mainColor);
}

.advantages__item p {
  font-size: 18px;
  color: #555;
}

@media ((min-width: 1100px) and (max-width: 1360px)) {
  .advantages__grid {
    gap: 15px;
  }

  .advantages__item {
    padding: 15px;
  }

  .advantages__item img {
    width: 35px;
  }

  .advantages__item h3 {
    font-size: 18px;
  }

  .advantages__item p {
    font-size: 13.5px;
  }
}

@media (max-width: 850px) {
  .advantages__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .advantages__item img {
    width: 40px;
  }

  .advantages__item h3 {
    font-size: 20px;
  }

  .advantages__item p {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .advantages__grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
}

/* ============================== STAGES ============================== */
/* ============================== STAGES ============================== */
/* ============================== STAGES ============================== */
.stages {
  padding-bottom: 60px;
}

.stages__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(32px, 5.5vw, 60px) clamp(6.4px, 1.5vw, 20px);
}

.stages__list-item:hover .stages__list-item-number {
  color: var(--mainColor);
}

.stages__list-item:hover p {
  color: #000;
}

.stages__list-item div {
  position: relative;
}

.stages__list-item-number {
  font-weight: 600;
  font-size: 88px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ccccd0;
  transition: var(--duration);
}

.stages__list-item-title {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 147%;
  color: #000;
  background: var(--bg);
  width: 100%;
}

.stages__list-item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 137%;
  color: #4d4e5c;
  background: var(--bg);
  padding-left: 52px;
  transition: var(--duration);
  position: relative;
  z-index: 1;
}

@media ((min-width: 1100px) and (max-width: 1360px)) {
  .stages {
    padding-bottom: 45px;
  }

  .stages__list {
    gap: clamp(24px, 5.5vw, 45px) clamp(4.8px, 1.5vw, 15px);
  }

  .stages__list-item-number {
    font-size: 66px;
  }

  .stages__list-item-title {
    font-size: 16.5px;
    line-height: 144%;
  }

  .stages__list-item p {
    font-size: 13.5px;
    line-height: 137%;
    padding-left: 39px;
  }
}

@media (max-width: 950px) {
  .stages__list {
    gap: clamp(32px, 5.5vw, 60px) clamp(6.4px, 1.5vw, 20px);
  }

  .stages__list-item-number {
    font-size: 75px;
  }

  .stages__list-item-title {
    font-size: 19px;
    line-height: 147%;
  }

  .stages__list-item p {
    font-size: 15px;
    line-height: 137%;
    padding-left: 35px;
  }
}

@media (max-width: 850px) {
  .stages__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .stages__list-item-number {
    font-size: 88px;
    line-height: 100%;
  }

  .stages__list-item-title {
    font-size: 22px;
    line-height: 147%;
  }

  .stages__list-item p {
    font-size: 18px;
    line-height: 137%;
    padding-left: 52px;
  }
}

@media (max-width: 700px) {
  .stages__list {
    gap: clamp(32px, 5.5vw, 50px) clamp(6.4px, 1.5vw, 20px);
  }

  .stages__list-item-number {
    font-size: 75px;
  }

  .stages__list-item-title {
    font-size: 19px;
    line-height: 147%;
  }

  .stages__list-item p {
    font-size: 15px;
    line-height: 137%;
    padding-left: 35px;
  }
}

@media (max-width: 600px) {
  .stages__list {
    gap: clamp(32px, 5.5vw, 40px) clamp(6.4px, 1.5vw, 20px);
  }

  .stages__list-item-number {
    font-size: 65px;
  }

  .stages__list-item-title {
    font-size: 16px;
    line-height: 147%;
  }

  .stages__list-item p {
    font-size: 13px;
    line-height: 137%;
    padding-left: 52px;
  }
}

@media (max-width: 500px) {
  .stages {
    padding-bottom: 50px;
  }

  .stages__list {
    grid-template-columns: repeat(1, 1fr);
    gap: clamp(32px, 5.5vw, 50px) clamp(6.4px, 1.5vw, 20px);
    justify-self: center;
  }

  .stages__list-item {
    max-width: 275px;
  }

  .stages__list-item-number {
    font-size: 75px;
  }

  .stages__list-item-title {
    font-size: 19px;
    line-height: 147%;
  }

  .stages__list-item p {
    font-size: 14px;
    line-height: 137%;
    padding-left: 35px;
  }
}

/* ============================================= FORM ============================================= */
/* ============================================= FORM ============================================= */
/* ============================================= FORM ============================================= */

.form {
  background: url(/img/form-bg.jpg) #111111 center center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 100px 0;
}

.form__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.form__title-block {
  text-align: center;
}

.form__inner h2 {
  font-weight: 800;
  font-size: 46px;
  line-height: 110%;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.form__inner h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: #f1f1f1;
  max-width: 600px;
  margin: 0 auto;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.form__inner form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  align-items: center;
}

.form__inputs {
  display: flex;
  gap: 15px;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.form__inputs input,
.form__inner form textarea {
  border: 2px solid #d2d2d2;
  border-radius: var(--radius-md);
  padding: 16px;
  background: #fff;
  max-width: 300px;
  width: 100%;
  font-weight: 500;
  font-size: 19px;
  color: #2d2d2d;
  outline: none;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  transition: var(--duration);
}

.form__inner form textarea {
  resize: none;
  height: 120px;
  max-width: 930px;
}

.form__inputs input:focus,
.form__inner form textarea:focus {
  border-color: var(--mainColor);
  box-shadow: 0 0 12px rgba(255, 149, 50, 0.4);
}

.form__inputs input::placeholder,
.form__inner form textarea::placeholder {
  color: #7a7a7a;
  font-weight: 400;
}

.form__checkbox {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  position: relative;
  cursor: pointer;
  width: fit-content;
  flex-wrap: wrap;
}

.form__checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.form__checkbox-checkmark {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--mainColor);
  background: #fff;
  border-radius: 3px;
  transition: .15s;
}

.form__checkbox-checkmark img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  height: 100%;
}

.form__checkbox input:checked~.form__checkbox-checkmark {
  background-color: var(--mainColor);
  border-color: var(--mainColor);
  box-shadow: 0 0 8px rgba(255, 149, 50, 0.6);
}

.form__checkbox:hover .form__checkbox-checkmark {
  background-color: #ffd7a8;
  border-color: #ffad5a;
}

.form__checkbox a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
  transition: var(--duration);
}

.form__checkbox a:hover {
  color: var(--mainColor);
}

.form__btn {
  background: linear-gradient(90deg, #ff962d, #ff7300);
  border: none;
  border-radius: var(--radius-md);
  padding: 15px;
  max-width: 375px;
  width: 100%;
  font-size: 19px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(255, 123, 0, 0.4);
  transition: transform var(--duration), box-shadow var(--duration);
}

.form__btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(255, 123, 0, 0.6);
}

.form__btn:active {
  transform: scale(.97);
  box-shadow: none;
  background: #ff962d;
}

@media ((min-width: 1100px) and (max-width: 1360px)) {
  .form {
    padding: 75px 0;
  }

  .form__inner {
    gap: 11.25px;
  }

  .form__inner h2 {
    font-size: 35.5px;
  }

  .form__inner h3 {
    font-size: 15px;
    line-height: 1.2;
    max-width: 450px;
  }

  .form__inner form {
    gap: 11.25px;
  }

  .form__inputs {
    gap: 11.25px;
  }

  .form__inputs input,
  .form__inner form textarea {
    border: 1.5px solid #d2d2d2;
    padding: 12px;
    max-width: 225px;
    font-size: 14.25px;
  }

  .form__inner form textarea {
    height: 90px;
    max-width: 697.5px;
  }

  .form__checkbox {
    gap: 7.5px;
    font-size: 12px;
  }

  .form__checkbox-checkmark {
    width: 15px;
    height: 15px;
    border-radius: 2.25px;
  }

  .form__btn {
    padding: 11.25px;
    max-width: 281.25px;
    font-size: 14.25px;
  }
}

@media (max-width: 1100px) {
  .form {
    padding: 75px 0;
  }
}

@media (max-width: 970px) {

  .form__inner,
  .form__inner form,
  .form__inputs {
    gap: 10px;
  }

  .form__inner h2 {
    font-size: 42px;
    line-height: 115%;
  }

  .form__inner h3 {
    font-size: 18px;
  }

  .form__inputs input, .form__inner form textarea {
    padding: 12px;
    font-size: 16px;
  }

  .form__inputs input:last-child,
  .form__inner form textarea {
    max-width: 615px;
  }

  .form__btn {
    padding: 12px;
    font-size: 16px;
  }
}

@media (max-width: 670px) {
  .form {
    padding: 50px 0;
  }

  .form__inner h2 {
    font-size: 36px;
  }

  .form__inner h3 {
    font-size: 16px;
  }

  .form__inputs input,
  .form__inner form textarea,
  .form__inputs input:last-child {
    font-size: 15px;
    max-width: 30%;
  }

  .form__inner form textarea {
    max-width: calc(90% + 20px);
    height: 90px;
  }

  .form__checkbox {
    font-size: 15px;
  }

  .form__btn {
    max-width: 350px;
    font-size: 15px;
  }
}

@media (max-width: 525px) {
  .form {
    padding: 40px 0;
  }

  .form__inner {
    gap: 15px;
  }

  .form__inner form {
    align-items: start;
  }

  .form__inner h2 {
    font-size: 28px;
  }

  .form__inner h3 {
    font-size: 13px;
  }

  .form__inputs input,
  .form__inner form textarea,
  .form__inputs input:last-child {
    font-size: 17px;
    padding: 8px 12px;
    max-width: 100%;
  }

  .form__btn {
    font-size: 16px;
  }

  .form__checkbox {
    gap: 5px;
    font-size: 16px;
  }

  .form__btn {
    padding: 12px;
    max-width: 100%;
    font-size: 16px;
  }
}

@media (max-width: 415px) {
  .form__inner h2 {
    font-size: 26px;
  }

  .form__inner h3 {
    font-size: 12px;
  }
}

@media (max-width: 401px) {
  .form__inner h2 {
    font-size: 24px;
  }

  .form__inner h3 {
    font-size: 11px;
  }

  .form__inputs input,
  .form__inner form textarea,
  .form__inputs input:last-child {
    font-size: 15px;
  }

  .form__inner form textarea {
    height: 80px;
  }

  .form__btn {
    font-size: 14px;
  }

  .form__checkbox {
    font-size: 14px;
  }

  .form__btn {
    font-size: 14px;
  }
}

@media (max-width: 365px) {
  .form__inner h2 {
    font-size: 22px;
  }

  .form__inner h3 {
    font-size: 10px;
  }

  .form__checkbox {
    font-size: 13px;
  }
}

/* ============================================= CONTACTS ============================================= */
/* ============================================= CONTACTS ============================================= */
/* ============================================= CONTACTS ============================================= */
.contacts {
  padding: 60px 0 40px;
}

.contacts__inner {
  display: flex;
  gap: 30px;
}

.contacts__left {
  border-radius: var(--radius-lg);
  padding: 48px 40px;
  max-width: 475px;
  width: 100%;
  background: #fff;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.contacts__list-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contacts__list-item div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contacts__list-item span {
  border-radius: 100%;
  width: 8px;
  height: 8px;
  background: var(--mainColor);
}

.contacts__list-item h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #000;
}

.contacts__list-item-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #000;
  font-style: normal;
  transition: var(--duration);
}

.contacts__list-item-text--phone {
  width: fit-content;
}

.contacts__list-item-text--phone:hover {
  color: var(--mainColor);
}

.contacts__list-item-link {
  width: fit-content;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #fff;
  border-radius: var(--radius-sm);
  background: #65bcf2;
  padding: 10px 30px;
  box-shadow: 0 4px 10px rgb(96, 180, 233, 0.4);
  transition: var(--duration);
}

.contacts__list-item-link:hover {
  background: #60b4e9;
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(78, 170, 229, 0.5);
}

.contacts__list-item-link:active {
  transform: translateY(0);
  box-shadow: 0 2px 6px rgba(78, 170, 229, 0.4);
}

.contacts__right {
  border-radius: var(--radius-lg);
  overflow: hidden;
  width: 100%;
}

.contacts__right iframe {
  width: 100%;
}

@media ((min-width: 1100px) and (max-width: 1360px)) {
  .contacts {
    padding: 45px 0 40px;
  }

  .contacts__inner {
    gap: 22.5px;
  }

  .contacts__left {
    padding: 36px 30px;
    max-width: 391.5px;
  }

  .contacts__list {
    gap: 18px;
  }

  .contacts__list-item {
    gap: 9px;
  }

  .contacts__list-item div {
    gap: 6px;
  }

  .contacts__list-item span {
    width: 6px;
    height: 6px;
  }

  .contacts__list-item h4 {
    font-size: 13.5px;
  }

  .contacts__list-item-text {
    font-size: 15px;
  }

  .contacts__list-item-link {
    font-size: 13.5px;
    padding: 7.5px 22.5px;
  }

  .contacts__right {
    border-radius: var(--radius-lg);
    overflow: hidden;
    width: 100%;
    height: 300px;
  }

  .contacts__right iframe {
    width: 100%;
  }
}

@media (max-width: 850px) {
  .contacts__inner {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .contacts__right {
    height: 300px;
  }
}

@media (max-width: 500px) {
  .contacts {
    padding-top: 50px;
  }

  .contacts__left {
    padding: 30px;
  }

  .contacts__list-item div {
    gap: 6px;
  }

  .contacts__list-item span {
    width: 6px;
    height: 6px;
  }

  .contacts__list-item h4 {
    font-size: 14px;
  }

  .contacts__list-item-text {
    font-size: 16px;
  }

  .contacts__list-item-link {
    font-size: 14px;
  }

  .contacts__right {
    height: 265px;
  }
}

@media (max-width: 380px) {
  .contacts__left {
    padding: 20px;
  }
}

/* ============================================= FOOTER ============================================= */
/* ============================================= FOOTER ============================================= */
/* ============================================= FOOTER ============================================= */
.footer {
  box-shadow: 0 2px 20px rgba(255, 144, 16, 0.4);
  border-top: 2px solid var(--mainColor);
}

.footer__top {
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.footer__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer__info-descr {
  font-size: 16px;
  color: #777;
}

.footer__contacts {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer__contacts div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer__contacts-city {
  font-size: 18px;
  color: #000;
  font-weight: 500;
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-top: 1px solid #ddd;
  padding: 15px 0;
}

.footer__bottom p,
.footer__bottom a {
  font-size: 14px;
  color: #777;
}

.footer__bottom a {
  transition: var(--duration);
  border-bottom: 1px solid #777;
  line-height: 100%;
}

.footer__bottom a:hover {
  color: var(--mainColor);
  border-color: var(--mainColor);
}

@media ((min-width: 1100px) and (max-width: 1360px)) {
  .footer {
    border-width: 1.5px;
  }

  .footer__top {
    padding: 18.75px 0;
    gap: 18.75px;
  }

  .footer__info {
    gap: 3.75px;
  }

  .footer__info-descr {
    font-size: 12px;
  }

  .footer__contacts-city {
    font-size: 13.5px;
  }

  .footer__bottom {
    gap: 22.5px;
    padding: 11.25px 0;
  }

  .footer__bottom p,
  .footer__bottom a {
    font-size: 11.5px;
  }
}

@media (max-width: 1100px) {
  .footer__nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 40px;
  }

  .footer__nav a {
    font-size: 20px;
  }

  .footer__social-phone {
    font-size: 18px;
  }
}

@media (max-width: 850px) {
  .footer__nav {
    gap: 10px 20px;
  }
}

@media (max-width: 800px) {
  .footer__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      "info contacts"
      "nav nav";
    gap: 20px;
  }

  .footer__info {
    grid-area: info;
  }

  .footer__contacts {
    grid-area: contacts;
    justify-self: end;
  }

  .footer__nav {
    grid-area: nav;
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 500px) {
  .footer__top {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer__info {
    align-items: center;
  }

  .footer__info-descr {
    text-align: center;
  }

  .footer__nav {
    gap: 10px 15px;
  }
}

@media (max-width: 420px) {
  .footer__bottom {
    flex-direction: column;
    gap: 10px;
  }
}

/* ============================================= TO TOP ============================================= */
/* ============================================= TO TOP ============================================= */
/* ============================================= TO TOP ============================================= */

.to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: var(--radius-sm);
  background: var(--mainColor);
  z-index: 100;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transform: scale(0);
  transition: var(--duration);
  box-shadow: 0 4px 12px rgba(255, 123, 0, 0.4);
}

.to-top img {
  width: 75%;
}

.to-top.show {
  opacity: 1;
  transform: scale(1);
}

.to-top:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(255, 123, 0, 0.6);
}

.to-top:active {
  transform: scale(.95) translateY(0);
  box-shadow: none;
  background: #ff962d;
}

@media ((min-width: 1100px) and (max-width: 1360px)) {
  .to-top {
    width: 36px;
    height: 36px;
  }
}

/* ============================================= ALERT ============================================= */
/* ============================================= ALERT ============================================= */
/* ============================================= ALERT ============================================= */

.alert__overlay {
  backdrop-filter: blur(5px);
  position: fixed;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

.alert__content {
  max-width: 450px;
  width: 100%;
  display: none;
  z-index: 100000;
  background-color: #fff;
  border-radius: var(--radius-md);
  position: fixed;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 32.5px 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 20px #00000054;
}

.alert__content svg {
  max-width: 60px;
  max-width: 60px;
  width: 100%;
  height: 100%;
}

.alert__content h5 {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;
  text-align: center;
}

.alert.active .alert__content,
.alert.active .alert__overlay {
  display: flex;
}

body:has(.alert.active) {
  overflow: hidden;
}

@media ((min-width: 1100px) and (max-width: 1360px)) {
  .alert__content {
    max-width: 350px;
    padding: 25px 15px;
  }

  .alert__content svg {
    max-width: 45px;
    max-width: 45px;
  }

  .alert__content h5 {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .alert__content {
    max-width: 360px;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
  }

  .alert__content svg {
    max-width: 50px;
    max-width: 50px;
  }

  .alert__content h5 {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .alert__content {
    max-width: 300px;
    padding: 15px;
  }

  .alert__content svg {
    max-width: 40px;
    max-width: 40px;
  }

  .alert__content h5 {
    font-size: 16px;
  }
}
